.profile-data {
  font-size: 30px;
}
.dfont {
  font-size: 20px;
}
input[type="dcheckbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.51);
  background-color: white;
  /* position: relative;
  top: 8px; */
  float: left;
}
input[type="dcheckbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3e%3cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3e%3c/svg%3e");
  background-color: rgb(195, 40, 40);
  font-weight: bold;
}
.dbutton {
  background-color: red;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  border-radius: 30px;
  float: right;
}
.dbutton:hover {
  background-color: white;
  color: black;
  border-radius: 30px;
}
