.profile-feed {
  font-size: 30px;
}
.button1 {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.button1:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
}
.button2 {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.button2:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
}
.button3 {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.button3:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
}
.button4 {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.button4:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
}
